<div class="page-header">
	<h3>Edituri </h3>
</div>

<div class="publishers-content panel panel-default">
  <div class="panel-body">
	  <% @publishers.each do |publisher| %>
		<div class="publisher-box"> 
			<i class="fa fa-chevron-circle-right"></i> <%= publisher.nume %>
		</div>
	  <% end %>
  </div>
</div>