// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-content h4.media-heading {
  font-weight: bold;
  color: #181ADB;	
}

.search-control input, .search-control label{
	margin-top: 1%;
	margin-bottom: 1%;
}

.panel-book {
	width: 32.33%;
	min-height: 250px;
	float: left;
	margin-right: 5px;
}

.book-content .media-left img {
	width: 7em;
}
.small-picture img {
	width:50px;
}
