// Place all the styles related to the domains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.domain-box i {
	color: rgb(53, 165, 93);
}

.book-content {
	margin-left: 0.5em;
	margin-right: 0.5em; 
}

.panel-domain {
	width: 32.33%;
	min-height: 305px;
	float: left;
	margin-right: 5px;
}
.domains-content a .panel-heading {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
.domains-content a:hover {
	color: initial;
}
