// Place all the styles related to the publishers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.publisher-box i {
	color: rgb(38, 83, 200);;
}

.book-content {
	margin-left: 0.5em;
	margin-right: 0.5em; 
}

.panel-publisher {
	width: 32.33%;
	min-height: 305px;
	float: left;
	margin-right: 5px;
}
.publishers-content a .panel-heading {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
.publishers-content a:hover {
	color: initial;
}

